body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: aliceblue;
}

canvas {
  width: 600px;
  height: 600px;
  border-color: purple;
  border-width: 5px;
  border-style: solid;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-stats {
  display: flex;
  flex-direction: column;
  border-color: red;
  border-width: 5px;
  border-style: solid;
}

.numbers {
  display: flex;
  flex-direction: column;
}

#level-counter {
  display: flex;
  flex-direction: column;
  border-color: blue;
  border-width: 5px;
  border-style: solid;
}


.game-board {
  display: flex;
  justify-content: center;
  border-color: green;
  border-width: 5px;
  border-style: solid;
}

.btn-panel {
  display: flex;
  flex-direction: column;
}


.tower-panel {
  display: flex;
  flex-direction: column;
}

#pause-panel {
  position: absolute;
  z-index: 999;
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 100px;
}

.game-store {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-color: black;
  border-width: 10px;
  border-style: solid;
  background-color: black;
}

#tower-stat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, .5);
}

.tower-wrapper {
  width: 50px;
  height: 50px;
}

.tower-wrapper:hover {
  background-color: gray;
}

#pellet {
  background-color: black;
}

#pellet-tower-dragging {
  background-color: black;
}

#splash {
  background-color: blue;
}

#splash-tower-dragging {
  background-color: blue;
}

#air {
  background-color: yellow;
}

#air-tower-dragging {
  background-color: yellow;
}

#ice {
  background-color: cyan;
}

#ice-tower-dragging {
  background-color: cyan;
}

#earthquake {
 background-color: burlywood;
}

#earthquake-tower-dragging {
  background-color: burlywood;
}

#machine {
  background-color: slategrey;
}

#machine-tower-dragging {
  background-color: slategrey;
}

.mouse-drag-object {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: .75;
}


/* use this for when you're holding a tower and you gotta place it, set the classname to heightlighted whenever you're above the node */
.highlighted {
  background-color: aliceblue;
}

.enemy {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: purple;
  position: absolute;
}