body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: aliceblue;
}

canvas {
  width: 500px;
  height: 500px;
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

.btn-panel {
  display: flex;
  flex-direction: column;
}

.game-board {
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

.tower-panel {
  display: flex;
  flex-direction: column;
}

.game-store {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-color: black;
  border-width: 10px;
  border-style: solid;
  background-color: black;
}

.tower-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-color: black;
  border-width: 10px;
  border-style: solid;
}

.tower-wrapper {
  width: 50px;
  height: 50px;
}

.tower-wrapper:hover {
  background-color: gray;
}

#pellet {
  background-color: black;
}

#pellet-tower-dragging {
  background-color: black;
}

#splash {
  background-color: blue;
}

#splash-tower-dragging {
  background-color: blue;
}

#air {
  background-color: yellow;
}

#air-tower-dragging {
  background-color: yellow;
}

#ice {
  background-color: cyan;
}

#ice-tower-dragging {
  background-color: cyan;
}

#earthquake {
 background-color: burlywood;
}

#earthquake-tower-dragging {
  background-color: burlywood;
}

#machine {
  background-color: slategrey;
}

#machine-tower-dragging {
  background-color: slategrey;
}

.mouse-drag-object {
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: .75;
}


/* use this for when you're holding a tower and you gotta place it, set the classname to heightlighted whenever you're above the node */
.highlighted {
  background-color: aliceblue;
}

.enemy {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: purple;
  position: absolute;
}